In [44]:
import pandas as pd
import nltk
import json
import string
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Antonio\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
pd.set_option('mode.chained_assignment',None)

## Carregando o Dataset

In [4]:
data_set = pd.read_csv("../../dados/movies_metadata.csv")

C:\Users\Antonio\AppData\Local\Temp\ipykernel_23240\1171913871.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_set = pd.read_csv("../../dados/movies_metadata.csv")

In [5]:
data_set = data_set[["genres", "overview", "original_title", "original_language"]]

In [6]:
movies = data_set.query("original_language == 'en'")

## Acessando o apenas o primeiro genero

In [7]:
def extrair_primeiro_genero( texto ):
    # print(texto)
    txt = texto.replace("'", '"')
    lista = json.loads(txt)
    if len(lista):
        return lista[0]['name']
    else:
        return "Unknown"

In [8]:
movies["genero"] = movies["genres"].apply(extrair_primeiro_genero)

In [9]:
lista_generos = list(movies["genero"].unique())

In [10]:
def extrair_genero_id( genero ):
    global lista_generos
    num_genero = 11
    try:
        num_genero = lista_generos.index(genero)
    except: 
        pass
    return num_genero

In [11]:
movies["genero_id"] = movies["genero"].apply(extrair_genero_id)

## Limpar o texto de descrição do filme (overview)

### Remover os caracteres com \n \r

In [12]:
movies["overview"].dropna(inplace=True)

In [13]:
trans = str.maketrans('\n\r\t', '   ')
movies["overview_no_enter"] = movies["overview"].str.translate(trans)

In [14]:
movies

,genres,overview,original_title,original_language,genero,genero_id,overview_no_enter
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",Toy Story,en,Animation,0,"Led by Woody, Andy's toys live happily in his ..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,Jumanji,en,Adventure,1,When siblings Judy and Peter discover an encha...
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,Grumpier Old Men,en,Romance,2,A family wedding reignites the ancient feud be...
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,en,Comedy,3,"Cheated on, mistreated and stepped on, the wom..."
4,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,Father of the Bride Part II,en,Comedy,3,Just when George Banks has recovered from his ...
...,...,...,...,...,...,...,...
45459,"[{'id': 878, 'name': 'Science Fiction'}]",It's the year 3000 AD. The world's most danger...,Caged Heat 3000,en,Science Fiction,9,It's the year 3000 AD. The world's most danger...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","Yet another version of the classic epic, with ...",Robin Hood,en,Drama,7,"Yet another version of the classic epic, with ..."
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",Betrayal,en,Action,4,"When one of her hits goes wrong, a professiona..."
45464,[],"In a small town live two brothers, one a minis...",Satana likuyushchiy,en,Unknown,11,"In a small town live two brothers, one a minis..."
45465,[],50 years after decriminalisation of homosexual...,Queerama,en,Unknown,11,50 years after decriminalisation of homosexual...

### Remover contrações textuais do inglês

In [15]:
contraction_dict = {
                    "aren't": "are not",
                    "can't": "can not",
                    "could've": "could have",
                    "couldn't": "could not",
                    "daren't": "dare not",
                    "didn't": "did not",
                    "doesn't": "does not",
                    "don't": "do not",
                    "hadn't": "had not",
                    "hasn't": "has not",
                    "haven't": "have not",
                    "he's": "he is",
                    "how'd": "how had",
                    "how're": "how are",
                    "how's": "how is",
                    "how've": "how have",
                    "i'd": "i had",
                    "i'm": "i am",
                    "i've": "i have",
                    "isn't": "is+ not",
                    "it's": "it is",
                    "might've": "might have",
                    "mightn't": "might not",
                    "must've": "must have",
                    "mustn't": "must not",
                    "needn't": "need not",
                    "oughtn't": "ought not",
                    "shan't": "shall not",
                    "she'd": "she had",
                    "she's": "she is",
                    "should've": "should have",
                    "shouldn't": "should not",
                    "that'd": "that had",
                    "thats's": "that is",
                    "there'd": "there had",
                    "there's": "there is",
                    "they'd": "they had",
                    "they're": "you are",
                    "they've": "they have",
                    "wasn't": "was+ not",
                    "we'd": "we had",
                    "we're": "we are",
                    "we've": "we have",
                    "weren't": "were not",
                    "what'd": "what had",
                    "what're": "what are",
                    "what's": "what is",
                    "what've": "what have",
                    "when'd": "when had",
                    "when're": "when are",
                    "when's": "when is",
                    "when've": "when have",
                    "where'd": "where had",
                    "where're": "where are",
                    "where's": "where is",
                    "where've": "where have",
                    "who'd": "who had",
                    "who're": "who are",
                    "who's": "who is",
                    "who've": "who have",
                    "why'd": "why had",
                    "why're": "why are",
                    "why's": "why is",
                    "why've": "why have",
                    "would've": "would have",
                    "wouldn't": "would not",
                    "you're": "you are",
                    "you've": "you have",
                    "'cause": "because", 
                    "ain't": "is not", 
                    "aren't": "are not",
                    "can't": "cannot", 
                    "could've": "could have",
                    "he's": "he is",
                    "how'll": "how will",
                    "i'll": "i will",
                    "it'll": "it will",
                    "it's": "it is", 
                    "she'll": "she will",
                    "she's": "she is",
                    "that'll": "that will",
                    "there'll": "there will",
                    "they'll": "they will",
                    "they're": "they are",
                    "we'll": "we will",
                    "we're": "we are",
                    "what'll": "what will",
                    "when'll": "when will",
                    "where'll": "where will",
                    "who'll": "who will",
                    "yo're": "you are",
                    "you'll": "you will"
}

In [16]:
def remove_contractions( text ):
    # print(text)
    # print(type(text))
    if (type(text) == str):
        text = text.lower()
        # print(text)
        for chave in list(contraction_dict.keys()):
            valor = contraction_dict[chave]
            text = text.replace(chave, valor)
        text = text.replace("\'s", " have")        
        return text
    else:
        return ""

In [17]:
movies["overview_no_contraction"] = movies["overview_no_enter"].apply(remove_contractions)

In [18]:
movies

,genres,overview,original_title,original_language,genero,genero_id,overview_no_enter,overview_no_contraction
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",Toy Story,en,Animation,0,"Led by Woody, Andy's toys live happily in his ...","led by woody, andy have toys live happily in h..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,Jumanji,en,Adventure,1,When siblings Judy and Peter discover an encha...,when siblings judy and peter discover an encha...
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,Grumpier Old Men,en,Romance,2,A family wedding reignites the ancient feud be...,a family wedding reignites the ancient feud be...
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,en,Comedy,3,"Cheated on, mistreated and stepped on, the wom...","cheated on, mistreated and stepped on, the wom..."
4,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,Father of the Bride Part II,en,Comedy,3,Just when George Banks has recovered from his ...,just when george banks has recovered from his ...
...,...,...,...,...,...,...,...,...
45459,"[{'id': 878, 'name': 'Science Fiction'}]",It's the year 3000 AD. The world's most danger...,Caged Heat 3000,en,Science Fiction,9,It's the year 3000 AD. The world's most danger...,it is the year 3000 ad. the world have most da...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","Yet another version of the classic epic, with ...",Robin Hood,en,Drama,7,"Yet another version of the classic epic, with ...","yet another version of the classic epic, with ..."
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",Betrayal,en,Action,4,"When one of her hits goes wrong, a professiona...","when one of her hits goes wrong, a professiona..."
45464,[],"In a small town live two brothers, one a minis...",Satana likuyushchiy,en,Unknown,11,"In a small town live two brothers, one a minis...","in a small town live two brothers, one a minis..."
45465,[],50 years after decriminalisation of homosexual...,Queerama,en,Unknown,11,50 years after decriminalisation of homosexual...,50 years after decriminalisation of homosexual...

### Remover as pontuções

In [19]:
translator = str.maketrans('', '', string.punctuation)
movies["overview_no_punctuation"]  = movies["overview_no_contraction"] .str.translate(translator)

In [20]:
movies

,genres,overview,original_title,original_language,genero,genero_id,overview_no_enter,overview_no_contraction,overview_no_punctuation
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",Toy Story,en,Animation,0,"Led by Woody, Andy's toys live happily in his ...","led by woody, andy have toys live happily in h...",led by woody andy have toys live happily in hi...
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,Jumanji,en,Adventure,1,When siblings Judy and Peter discover an encha...,when siblings judy and peter discover an encha...,when siblings judy and peter discover an encha...
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,Grumpier Old Men,en,Romance,2,A family wedding reignites the ancient feud be...,a family wedding reignites the ancient feud be...,a family wedding reignites the ancient feud be...
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,en,Comedy,3,"Cheated on, mistreated and stepped on, the wom...","cheated on, mistreated and stepped on, the wom...",cheated on mistreated and stepped on the women...
4,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,Father of the Bride Part II,en,Comedy,3,Just when George Banks has recovered from his ...,just when george banks has recovered from his ...,just when george banks has recovered from his ...
...,...,...,...,...,...,...,...,...,...
45459,"[{'id': 878, 'name': 'Science Fiction'}]",It's the year 3000 AD. The world's most danger...,Caged Heat 3000,en,Science Fiction,9,It's the year 3000 AD. The world's most danger...,it is the year 3000 ad. the world have most da...,it is the year 3000 ad the world have most dan...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","Yet another version of the classic epic, with ...",Robin Hood,en,Drama,7,"Yet another version of the classic epic, with ...","yet another version of the classic epic, with ...",yet another version of the classic epic with e...
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",Betrayal,en,Action,4,"When one of her hits goes wrong, a professiona...","when one of her hits goes wrong, a professiona...",when one of her hits goes wrong a professional...
45464,[],"In a small town live two brothers, one a minis...",Satana likuyushchiy,en,Unknown,11,"In a small town live two brothers, one a minis...","in a small town live two brothers, one a minis...",in a small town live two brothers one a minist...
45465,[],50 years after decriminalisation of homosexual...,Queerama,en,Unknown,11,50 years after decriminalisation of homosexual...,50 years after decriminalisation of homosexual...,50 years after decriminalisation of homosexual...

In [21]:
stopwords = nltk.corpus.stopwords.words('english')

In [22]:
def remove_stop_words( text ):
    nova_lista = []
    palavras = text.split(" ")
    for palavra in palavras:
        if palavra not in stopwords:
            nova_lista.append(palavra)
    return " ".join(nova_lista)

In [23]:
movies["overview_no_punctuation"][0]

'led by woody andy have toys live happily in his room until andy have birthday brings buzz lightyear onto the scene afraid of losing his place in andy have heart woody plots against buzz but when circumstances separate buzz and woody from their owner the duo eventually learns to put aside their differences'

In [24]:
movies["overview_no_stops"] = movies["overview_no_punctuation"].apply(remove_stop_words)

In [25]:
def stemmer_func( texto ):
    # print("Texto Recebido: (Tipo) ", type(texto))
    if isinstance(texto, str):
        lista_palavras = texto.split(" ")
        # print("Lista Palavras: ", lista_palavras)
        nova_lista = []
        for palavra in lista_palavras:
            stemmed = stemmer.stem( palavra )
            nova_lista.append(stemmed)
        return " ".join(nova_lista)
    else:
        return ""

In [26]:
stemmer = nltk.PorterStemmer()
movies["overview_stemmed"] = movies["overview_no_stops"].apply(stemmer_func)

In [31]:
def pre_processa( texto ):
    novo_texto = texto.lower().split(" ")
    return str(novo_texto)

In [32]:
textos = movies["overview_stemmed"].apply(pre_processa)
textos

0        ['led', 'woodi', 'andi', 'toy', 'live', 'happi...
1        ['sibl', 'judi', 'peter', 'discov', 'enchant',...
2        ['famili', 'wed', 'reignit', 'ancient', 'feud'...
3        ['cheat', 'mistreat', 'step', 'women', 'hold',...
4        ['georg', 'bank', 'recov', 'daughter', 'wed', ...
                               ...
45459    ['year', '3000', 'ad', 'world', 'danger', 'wom...
45460    ['yet', 'anoth', 'version', 'classic', 'epic',...
45463    ['one', 'hit', 'goe', 'wrong', 'profession', '...
45464    ['small', 'town', 'live', 'two', 'brother', 'o...
45465    ['50', 'year', 'decriminalis', 'homosexu', 'uk...
Name: overview_stemmed, Length: 32269, dtype: object

In [39]:
train_X, test_X, train_Y, test_Y = train_test_split(textos, movies["genero"], test_size=0.25, random_state=50)

In [40]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(train_Y)
Test_Y = Encoder.fit_transform(test_Y)

In [35]:
vetorizador = TfidfVectorizer(max_features=5000)
vetorizador.fit(textos)
x_train_bow = vetorizador.transform(train_X)
x_test_bow = vetorizador.transform(test_X)

In [36]:
# vetorizador = TfidfVectorizer()
# bow = vetorizador.fit_transform(textos)
# vocabulario = vetorizador.get_feature_names_out()
# bow_matrix = pd.DataFrame.sparse.from_spmatrix(bow, columns=vetorizador.get_feature_names_out())

In [37]:
vetorizador.vocabulary_

{'led': 2632,
 'woodi': 4942,
 'andi': 272,
 'toy': 4571,
 'live': 2692,
 'happili': 2074,
 'room': 3852,
 'birthday': 543,
 'bring': 638,
 'buzz': 693,
 'onto': 3204,
 'scene': 3931,
 'afraid': 178,
 'lose': 2722,
 'place': 3392,
 'heart': 2120,
 'plot': 3411,
 'circumst': 865,
 'separ': 3999,
 'owner': 3256,
 'duo': 1442,
 'eventu': 1607,
 'learn': 2629,
 'put': 3586,
 'asid': 359,
 'differ': 1301,
 'sibl': 4076,
 'judi': 2502,
 'peter': 3356,
 'discov': 1327,
 'enchant': 1534,
 'board': 573,
 'game': 1903,
 'open': 3206,
 'door': 1385,
 'magic': 2768,
 'world': 4948,
 'unwittingli': 4719,
 'invit': 2401,
 'alan': 205,
 'adult': 163,
 'trap': 4596,
 'insid': 2351,
 '26': 94,
 'year': 4978,
 'hope': 2204,
 'freedom': 1865,
 'finish': 1759,
 'prove': 3556,
 'riski': 3814,
 'three': 4512,
 'find': 1756,
 'run': 3871,
 'giant': 1939,
 'evil': 1618,
 'monkey': 2987,
 'terrifi': 4472,
 'creatur': 1100,
 'famili': 1689,
 'wed': 4872,
 'ancient': 269,
 'feud': 1735,
 'neighbor': 3081,
 'fish': 1767,
 'buddi': 664,
 'john': 2479,
 'max': 2848,
 'meanwhil': 2859,
 'italian': 2423,
 'restaur': 3767,
 'local': 2701,
 'shop': 4062,
 'alarm': 206,
 'worri': 4950,
 'scare': 3929,
 'away': 417,
 'less': 2652,
 'interest': 2374,
 'cook': 1045,
 'hot': 2219,
 'time': 4530,
 'cheat': 818,
 'step': 4273,
 'women': 4935,
 'hold': 2179,
 'breath': 624,
 'wait': 4822,
 'elus': 1513,
 'good': 1967,
 'man': 2787,
 'break': 620,
 'string': 4308,
 'lover': 2736,
 'friend': 1873,
 'confid': 995,
 'berni': 512,
 'robin': 3828,
 'talk': 4420,
 'determin': 1277,
 'better': 519,
 'way': 4859,
 'georg': 1926,
 'bank': 443,
 'recov': 3682,
 'daughter': 1180,
 'receiv': 3670,
 'news': 3106,
 'pregnant': 3474,
 'wife': 4902,
 'nina': 3121,
 'expect': 1645,
 'plan': 3395,
 'sell': 3988,
 'home': 2188,
 'like': 2673,
 'chang': 799,
 'arriv': 346,
 'kid': 2547,
 'obsess': 3167,
 'master': 2836,
 'thief': 4498,
 'neil': 3084,
 'lead': 2623,
 'crew': 1103,
 'variou': 4751,
 'insan': 2347,
 'heist': 2135,
 'throughout': 4517,
 'lo': 2698,
 'angel': 277,
 'mental': 2886,
 'unstabl': 4708,
 'detect': 1275,
 'vincent': 4791,
 'pursu': 3583,
 'without': 4928,
 'rest': 3766,
 'recogn': 3675,
 'respect': 3763,
 'abil': 112,
 'dedic': 1214,
 'even': 1605,
 'though': 4507,
 'awar': 414,
 'catandmous': 767,
 'may': 2849,
 'end': 1537,
 'violenc': 4794,
 'ugli': 4655,
 'remark': 3730,
 'still': 4282,
 'harbor': 2076,
 'feel': 1721,
 'crush': 1124,
 'carefre': 738,
 'playboy': 3403,
 'brother': 652,
 'someth': 4178,
 'say': 3924,
 'mischiev': 2950,
 'young': 4987,
 'boy': 608,
 'tom': 4543,
 'wit': 4925,
 'murder': 3027,
 'deadli': 1191,
 'joe': 2476,
 'becom': 482,
 'finn': 1760,
 'futur': 1894,
 'choos': 839,
 'honor': 2199,
 'friendship': 1875,
 'town': 4567,
 'alcohol': 210,
 'accus': 134,
 'go': 1958,
 'sever': 4018,
 'adventur': 167,
 'tri': 4609,
 'retriev': 3777,
 'evid': 1617,
 'intern': 2376,
 'action': 141,
 'superstar': 4362,
 'jean': 2447,
 'claud': 881,
 'van': 4747,
 'team': 4440,
 'power': 3463,
 'booth': 589,
 'suspens': 4385,
 'thriller': 4514,
 'set': 4012,
 'backdrop': 426,
 'stanley': 4256,
 'cup': 1134,
 'portray': 3445,
 'father': 1709,
 'whose': 4897,
 'suddenli': 4340,
 'taken': 4417,
 'championship': 796,
 'hockey': 2178,
 'captor': 731,
 'demand': 1239,
 'billion': 535,
 'dollar': 1375,
 'frantic': 1857,
 'motion': 3011,
 'rescu': 3753,
 'abort': 115,
 'impend': 2287,
 'explos': 1658,
 'final': 1753,
 'jame': 2434,
 'bond': 582,
 'must': 3037,
 'mysteri': 3043,
 'head': 2112,
 'syndic': 4407,
 'prevent': 3492,
 'leader': 2624,
 'util': 4739,
 'weapon': 4865,
 'system': 4409,
 'devast': 1279,
 'reveng': 3783,
 'britain': 640,
 'widow': 4900,
 'us': 4732,
 'presid': 3483,
 'andrew': 275,
 'shepherd': 4046,
 'one': 3199,
 'men': 2884,
 'anyth': 305,
 'want': 4835,
 'covet': 1083,
 'sydney': 4403,
 'ellen': 1506,
 'wade': 4819,
 'washington': 4850,
 'attempt': 384,
 'court': 1077,
 'spark': 4207,
 'wild': 4903,
 'rumor': 3870,
 'approv': 323,
 'rate': 3644,
 'lawyer': 2618,
 'show': 4067,
 'vampir': 4746,
 'doorstep': 1386,
 'fall': 1685,
 'prey': 3495,
 'charm': 812,
 'join': 2482,
 'search': 3960,
 'fresh': 1870,
 'blood': 564,
 'enter': 1561,
 'dr': 1402,
 'abl': 113,
 'count': 1066,
 'outcast': 3235,
 'risk': 3813,
 'life': 2666,
 'epidem': 1572,
 'ravag': 3646,
 'alaska': 207,
 'allstar': 229,
 'cast': 763,
 'epic': 1571,
 'look': 2717,
 'american': 252,
 'richard': 3797,
 'carri': 751,
 'fate': 1708,
 'battl': 467,
 'selfdestruct': 3985,
 'within': 4927,
 'span': 4204,
 'troubl': 4623,
 'california': 703,
 'shock': 4058,
 'scandal': 3927,
 'would': 4955,
 'morgan': 3001,
 'adam': 149,
 'slave': 4127,
 'william': 4910,
 'shaw': 4038,
 'quest': 3593,
 'treasur': 4603,
 'map': 2801,
 'unfortun': 4684,
 'held': 2136,
 'uncl': 4664,
 'skeptic': 4117,
 'leadership': 2625,
 'complet': 969,
 'made': 2762,
 'yet': 4982,
 'difficult': 1302,
 'effort': 1480,
 'british': 641,
 'crown': 1117,
 'pirat': 3388,
 'raid': 3616,
 'gambl': 1901,
 'paradis': 3281,
 'la': 2577,
 'vega': 4753,
 'dark': 1172,
 'mafia': 2765,
 'rich': 3796,
 'mr': 3023,
 'die': 1298,
 'leav': 2631,
 'second': 3967,
 'poor': 3435,
 'rule': 3868,
 'inherit': 2335,
 'two': 4648,
 'opposit': 3214,
 'ted': 4446,
 'first': 1765,
 'night': 3116,
 'hotel': 2220,
 'unusu': 4714,
 'guest': 2032,
 'outrag': 3240,
 'seem': 3978,
 'servic': 4010,
 'serv': 4008,
 'happen': 2072,
 'anoth': 292,
 'summon': 4352,
 'ace': 135,
 'peril': 3342,
 'journey': 2496,
 'jungl': 2512,
 'africa': 179,
 'miss': 2956,
 'sacr': 3886,
 'anim': 282,
 'friendli': 1874,
 'tribe': 4612,
 'accomplish': 131,
 'princess': 3504,
 'princ': 3503,
 'warrior': 4847,
 'fail': 1679,
 'result': 3770,
 'viciou': 4770,
 'war': 4836,
 'veng': 4755,
 'new': 3099,
 'york': 4983,
 'transit': 4592,
 'cop': 1048,
 'decid': 1209,
 'steal': 4270,
 'subway': 4333,
 'foster': 1838,
 'fellow': 1726,
 'protect': 3551,
 'palmer': 3276,
 'miami': 2906,
 'mobster': 2973,
 'get': 1932,
 'sent': 3996,
 'boss': 595,
 'psychopath': 3566,
 'bone': 583,
 'collect': 928,
 'bad': 430,
 'debt': 1200,
 'harri': 2090,
 'hollywood': 2185,
 'produc': 3522,
 'special': 4210,
 'horror': 2213,
 'film': 1751,
 'meet': 2870,
 'ladi': 2585,
 'romant': 3845,
 'fli': 1786,
 'pitch': 3390,
 'stori': 4291,
 'movi': 3022,
 'idea': 2257,
 'realli': 3659,
 'psychologist': 3565,
 'femal': 1728,
 'work': 4944,
 'togeth': 4539,
 'take': 4416,
 'serial': 4005,
 'killer': 2551,
 'copi': 1050,
 'past': 3304,
 'assassin': 365,
 'robert': 3827,
 'funer': 1890,
 'kill': 2550,
 'promin': 3535,
 'rival': 3817,
 'hire': 2169,
 'gun': 2040,
 'job': 2473,
 'grisli': 2017,
 'horrifi': 2212,
 'innoc': 2345,
 'last': 2601,
 'return': 3778,
 'civilian': 869,
 'contract': 1032,
 'grow': 2024,
 'ever': 1608,
 'danger': 1165,
 'target': 4428,
 'mark': 2817,
 'harass': 2075,
 'classmat': 879,
 'wont': 4939,
 'accept': 125,
 'appear': 315,
 'shi': 4050,
 'known': 2569,
 'struggl': 4315,
 'fit': 1771,
 'cruel': 1119,
 'taunt': 4434,
 'stop': 4289,
 'display': 1345,
 'allow': 228,
 'incred': 2310,
 'thing': 4500,
 'phenomenon': 3359,
 'around': 342,
 'never': 3097,
 'could': 1063,
 'imagin': 2278,
 'ben': 502,
 'screenwrit': 3953,
 'lost': 2725,
 'everyth': 1613,
 'drink': 1421,
 'death': 1196,
 'form': 1825,
 'pact': 3265,
 'prostitut': 3549,
 'pretend': 3490,
 'order': 3220,
 'manipul': 2794,
 'version': 4762,
 'shakespear': 4029,
 'classic': 878,
 'wax': 4858,
 'passag': 3301,
 'childhood': 831,
 'tender': 4462,
 'comingofag': 950,
 'tale': 4418,
 'four': 1843,
 'girlfriend': 1947,
 'samantha': 3904,
 'recal': 3669,
 'summer': 4351,
 '1970': 44,
 'walk': 4827,
 'memori': 2882,
 'lane': 2593,
 'reconcil': 3677,
 'experi': 1649,
 'secret': 3968,
 'bulli': 672,
 'adapt': 150,
 'jane': 2437,
 'novel': 3149,
 'follow': 1805,
 'ann': 283,
 'elliot': 1508,
 'financi': 1755,
 'aristocrat': 335,
 'persuad': 3353,
 'engag': 1544,
 'sea': 3957,
 'captain': 729,
 'mean': 2857,
 'later': 2603,
 'money': 2984,
 'forc': 1815,
 'rent': 3740,
 'estat': 1589,
 'admir': 157,
 'thrown': 4519,
 'compani': 961,
 'success': 4336,
 'perhap': 3341,
 'love': 2735,
 'former': 1827,
 'marin': 2813,
 'johnson': 2481,
 'land': 2589,
 'gig': 1942,
 'teach': 4438,
 'pilot': 3383,
 'program': 3530,
 'bright': 636,
 'teen': 4448,
 'notori': 3148,
 'innerc': 2344,
 'high': 2154,
 'school': 3936,
 'terribl': 4471,
 'day': 1185,
 'throw': 4518,
 'wind': 4913,
 'arm': 337,
 'attitud': 388,
 'inform': 2332,
 'militari': 2926,
 'train': 4584,
 'fearless': 1715,
 'student': 4318,
 'matter': 2843,
 'cost': 1059,
 'convict': 1043,
 'cole': 923,
 'reluctantli': 3727,
 'volunt': 4810,
 'back': 425,
 'origin': 3226,
 'viru': 4799,
 'wipe': 4920,
 'nearli': 3072,
 'earth': 1458,
 'popul': 3438,
 'survivor': 4382,
 'underground': 4671,
 'commun': 959,
 'mistakenli': 2964,
 '1990': 62,
 'instead': 2359,
 '1996': 67,
 'arrest': 345,
 'lock': 2703,
 'hospit': 2215,
 'psychiatrist': 3561,
 'patient': 3309,
 'jeffrey': 2449,
 'son': 4182,
 'famou': 1692,
 'expert': 1652,
 'key': 2543,
 'rogu': 3838,
 'group': 2023,
 'armi': 338,
 '12': 5,
 'thought': 4508,
 'respons': 3765,
 'unleash': 4693,
 'diseas': 1330,
 'babe': 420,
 'littl': 2691,
 'pig': 3382,
 'quit': 3601,
 'know': 2567,
 'bunch': 675,
 'odd': 3178,
 'duck': 1434,
 'think': 4501,
 'dog': 1373,
 'call': 704,
 'mom': 2980,
 'realiz': 3658,
 'make': 2779,
 'greatest': 2002,
 'sheep': 4042,
 'farmer': 1700,
 'help': 2140,
 'relationship': 3715,
 'painter': 3271,
 'author': 400,
 'england': 1546,
 'cottag': 1062,
 'countrysid': 1072,
 'although': 240,
 'due': 1436,
 'homosexu': 2194,
 'nevertheless': 3098,
 'deep': 1218,
 'complic': 971,
 'develop': 1280,
 'physic': 3372,
 'soldier': 4166,
 'ralph': 3624,
 'welcom': 4878,
 'remain': 3728,
 'somewhat': 4180,
 'much': 3024,
 'lifestyl': 2668,
 'sexual': 4021,
 'orient': 3225,
 'fact': 1675,
 'justic': 2516,
 'drama': 1408,
 'base': 458,
 'true': 4627,
 'row': 3862,
 'strong': 4312,
 'nun': 3157,
 'forgiv': 1823,
 'give': 1948,
 'spiritu': 4227,
 'accompani': 130,
 'execut': 1634,
 'susan': 4383,
 'oscar': 3230,
 'best': 514,
 'actress': 146,
 'convinc': 1044,
 'sister': 4106,
 'helen': 2137,
 'russian': 3879,
 'thoma': 4504,
 'travel': 4600,
 'passeng': 3302,
 'close': 899,
 'elli': 1507,
 'island': 2416,
 'thu': 4521,
 'start': 4262,
 'america': 251,
 'immigr': 2283,
 'ancestor': 268,
 'decad': 1202,
 'ago': 190,
 'letter': 2656,
 'profess': 3524,
 'rel': 3713,
 'trace': 4572,
 'old': 3192,
 'use': 4734,
 'antiqu': 298,
 'viewer': 4783,
 'today': 4537,
 'audienc': 391,
 'see': 3975,
 'big': 528,
 'appl': 317,
 'well': 4880,
 'ident': 2260,
 'background': 427,
 'orphan': 3228,
 'amanda': 242,
 'wealthi': 4864,
 'camp': 709,
 'switch': 4401,
 'play': 3402,
 'dad': 1152,
 'roger': 3837,
 'kind': 2553,
 'social': 4159,
 'worker': 4946,
 'care': 736,
 'top': 4550,
 'beverli': 521,
 'hill': 2165,
 'peck': 3326,
 'scale': 3925,
 'teacher': 4439,
 'date': 1179,
 'hopelessli': 2206,
 'popular': 3439,
 'disapprov': 1321,
 'right': 3806,
 'preacher': 3466,
 'goe': 1962,
 'commit': 957,
 'crime': 1105,
 'citi': 866,
 'transplant': 4594,
 '1930': 23,
 'depict': 1252,
 'bill': 533,
 'retir': 3775,
 'destin': 1269,
 'govern': 1979,
 'burn': 680,
 'howev': 2231,
 'address': 154,
 'issu': 2420,
 'black': 549,
 'involv': 2402,
 'vietnam': 4780,
 'subsequ': 4330,
 'progress': 3532,
 'civil': 868,
 'unit': 4689,
 'state': 4266,
 '1960': 35,
 'aspir': 363,
 'physician': 3373,
 'found': 1840,
 'king': 2555,
 'charl': 808,
 'ii': 2267,
 'save': 3922,
 'someon': 4177,
 'provid': 3557,
 'posit': 3448,
 'marri': 2820,
 'mistress': 2965,
 'queen': 3592,
 'suspicion': 4387,
 'given': 1949,
 'situat': 4109,
 'wealth': 4863,
 'grace': 1982,
 'reunion': 3779,
 'rediscov': 3688,
 'medicin': 2866,
 'nine': 3122,
 'gener': 1918,
 'sorcer': 4189,
 'victori': 4774,
 'mortal': 3006,
 'enemi': 1541,
 'win': 4912,
 'tournament': 4563,
 'desol': 1264,
 'reign': 3709,
 'forev': 1820,
 'overcom': 3245,
 'seemingli': 3979,
 'inner': 2343,
 'demon': 1244,
 'foe': 1802,
 'video': 4777,
 'televis': 4451,
 'therefor': 4496,
 'husband': 2249,
 'comedi': 945,
 'independ': 2312,
 'director': 1315,
 'gu': 2028,
 'brilliant': 637,
 'nicol': 3114,
 'role': 3839,
 'graduat': 1986,
 'cold': 922,
 'feet': 1722,
 'suspect': 4384,
 'fiancé': 1738,
 'clear': 884,
 'visit': 4802,
 'grandmoth': 1992,
 'great': 2000,
 'aunt': 394,
 'member': 2879,
 'passion': 3303,
 'cours': 1076,
 'wisdom': 4922,
 'homicid': 2193,
 'desper': 1266,
 'hunt': 2245,
 'seven': 4017,
 'sin': 4097,
 'haunt': 2103,
 'tortur': 4556,
 'victim': 4772,
 'next': 3108,
 'season': 3962,
 'research': 3754,
 'mind': 2935,
 'partner': 3298,
 'mill': 2928,
 'unravel': 4701,
 'case': 758,
 'histori': 2171,
 'come': 942,
 'disney': 1341,
 'nativ': 3063,
 'woman': 4934,
 'arrang': 343,
 'villag': 4788,
 'vision': 4800,
 'tell': 4452,
 'soon': 4186,
 'face': 1673,
 'capt': 728,
 'smith': 4146,
 'professor': 3526,
 'larg': 2597,
 'urban': 4730,
 'univers': 4690,
 'strang': 4298,
 'attract': 390,
 'freespirit': 1866,
 'liber': 2661,
 'carniv': 746,
 'interrog': 2379,
 'fed': 1718,
 'mythic': 3046,
 'lord': 2721,
 'exist': 1641,
 'also': 237,
 'draw': 1411,
 'san': 3908,
 'pedro': 3327,
 'lure': 2750,
 'almost': 231,
 'supernatur': 4360,
 'turn': 4638,
 'bodyguard': 578,
 'cynthia': 1149,
 'psychot': 3567,
 'month': 2994,
 'earlier': 1456,
 'protector': 3552,
 'uniqu': 4688,
 'revers': 3785,
 'erupt': 1581,
 'triangl': 4611,
 'lenni': 2645,
 'adopt': 161,
 'babi': 421,
 'geniu': 1921,
 'biolog': 539,
 'mother': 3010,
 'linda': 2678,
 'ash': 354,
 'porn': 3440,
 'star': 4257,
 'reform': 3697,
 'greek': 2006,
 'choru': 841,
 'relat': 3714,
 'mytholog': 3047,
 'quirki': 3600,
 'depress': 1253,
 'texa': 4481,
 'foreign': 1817,
 'exchang': 1630,
 'anna': 284,
 'inject': 2337,
 'hopeless': 2205,
 'introduc': 2391,
 'soccer': 4158,
 'assist': 369,
 'shape': 4033,
 'pair': 3272,
 'build': 668,
 'solv': 4174,
 'older': 3193,
 'georgia': 1927,
 'folk': 1804,
 'singer': 4101,
 'children': 832,
 'cannot': 724,
 'circuit': 864,
 'hit': 2173,
 'part': 3293,
 'drug': 1427,
 'booz': 590,
 'choic': 838,
 'heel': 2130,
 'rough': 3858,
 'voic': 4807,
 'sing': 4099,
 'modern': 2976,
 'alex': 212,
 'arthur': 349,
 'sword': 4402,
 'spend': 4218,
 'thanksgiv': 4485,
 'boyfriend': 609,
 'holiday': 2182,
 'wonder': 4936,
 'surviv': 4381,
 'crazi': 1094,
 'antic': 296,
 'plastic': 3400,
 'indian': 2316,
 'befriend': 487,
 'fire': 1763,
 'griev': 2013,
 'karen': 2521,
 'hand': 2064,
 'monster': 2989,
 'rape': 3639,
 '17yearold': 16,
 '1965': 39,
 'musician': 3034,
 'glenn': 1952,
 'holland': 2183,
 'music': 3033,
 'small': 4140,
 'obstacl': 3168,
 'road': 3821,
 'write': 4964,
 'histor': 2170,
 'roll': 3840,
 'inspir': 2355,
 'purpos': 3582,
 'shawn': 4039,
 'move': 3020,
 'south': 4197,
 'central': 783,
 'age': 185,
 'tough': 4559,
 'smoke': 4148,
 'cousin': 1079,
 'along': 233,
 'keep': 2532,
 'straight': 4295,
 'frank': 1854,
 'obrien': 3164,
 'petti': 3357,
 'valuabl': 4745,
 'paint': 3270,
 'coast': 912,
 'push': 3585,
 'bud': 663,
 'doyl': 1400,
 'loser': 2723,
 'noth': 3145,
 'activ': 143,
 'environ': 1569,
 'scientist': 3940,
 'begin': 490,
 'mission': 2958,
 'outsid': 3241,
 'contact': 1023,
 'project': 3533,
 'jonathan': 2487,
 'walker': 4828,
 'creat': 1096,
 'comput': 976,
 'chip': 836,
 'connect': 1002,
 'network': 3094,
 'control': 1036,
 'teenag': 4449,
 'hacker': 2050,
 'ail': 194,
 'grandpa': 1993,
 'sit': 4107,
 'quarter': 3590,
 'promis': 3536,
 'buy': 692,
 'ticket': 4525,
 'theater': 4488,
 'readi': 3654,
 'pass': 3300,
 'reward': 3793,
 'busi': 685,
 'enlist': 1551,
 'act': 140,
 'craig': 1089,
 'guy': 2045,
 'hang': 2068,
 'friday': 1872,
 'afternoon': 183,
 'seth': 4013,
 'younger': 4988,
 'bloodi': 565,
 'robberi': 3825,
 'escap': 1583,
 'across': 139,
 'border': 591,
 'mexico': 2904,
 'morn': 3003,
 'pay': 3321,
 'kingpin': 2557,
 'dawn': 1184,
 'point': 3419,
 'hell': 2139,
 'strip': 4309,
 'joint': 2483,
 'kate': 2524,
 'law': 2615,
 'attorney': 389,
 'renegad': 3737,
 'kgb': 2544,
 'termin': 4469,
 'colleg': 930,
 'studi': 4319,
 'declin': 1212,
 'pull': 3573,
 'nobodi': 3127,
 'decis': 1210,
 'radic': 3611,
 'alter': 238,
 'none': 3132,
 'profession': 3525,
 ...}

In [41]:
print(x_train_bow)

  (0, 4965)	0.10512108856916083
  (0, 4925)	0.10274733408881594
  (0, 4874)	0.11507076667457654
  (0, 4772)	0.10213174127147731
  (0, 4680)	0.14375015480198933
  (0, 4627)	0.08686678416911767
  (0, 4530)	0.07030753800009272
  (0, 4517)	0.24144160788486246
  (0, 4514)	0.11376424022318302
  (0, 4500)	0.0862476730797607
  (0, 4469)	0.13565975726040685
  (0, 4423)	0.14882574116821012
  (0, 4386)	0.1322965892294699
  (0, 4372)	0.12789760301384373
  (0, 4345)	0.11050213765745678
  (0, 4298)	0.20094743786217448
  (0, 4245)	0.1531425804643667
  (0, 4186)	0.08146429022074346
  (0, 4126)	0.1441258087502679
  (0, 4110)	0.11043554354533942
  (0, 4103)	0.11899043822448764
  (0, 4079)	0.10166143904920417
  (0, 4058)	0.11246641761041065
  (0, 3975)	0.08777235840609802
  (0, 3960)	0.09131183826855627
  :	:
  (24199, 2023)	0.09570169922981667
  (24199, 1963)	0.13652706840782736
  (24199, 1765)	0.09100686118661386
  (24199, 1716)	0.11149344629269466
  (24199, 1553)	0.1297215272671445
  (24199, 1488)	0.16829044736546292
  (24199, 1283)	0.18195561936841173
  (24199, 1274)	0.14766195831923307
  (24199, 1133)	0.17943981331927195
  (24199, 732)	0.11913068076379078
  (24199, 498)	0.32211042933732326
  (24199, 248)	0.14633310960050838
  (24199, 237)	0.09833252229355693
  (24199, 216)	0.17885121166921486
  (24199, 167)	0.11301739925704561
  (24199, 151)	0.16720892569579976
  (24200, 3130)	0.41932513628118956
  (24200, 3015)	0.3689465356107473
  (24200, 2889)	0.354661405903549
  (24200, 2160)	0.3997370616045318
  (24200, 2140)	0.1939892520436489
  (24200, 1979)	0.26797311275719726
  (24200, 1618)	0.2502440818371723
  (24200, 1396)	0.4173770978617769
  (24200, 638)	0.23707233348199405

In [45]:
# fit the training dataset on the NB classifier
Naive = MultinomialNB()
Naive.fit(x_train_bow,Train_Y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(x_test_bow)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

Naive Bayes Accuracy Score ->  42.03024293505206

In [ ]:
# model = LinearSVC()
# model = SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
# model.fit(x_train_bow, Train_Y)

In [ ]:
# acuracia = model.score(Test_Y, test_Y)

In [ ]:
# acuracia

In [ ]:
# pd.concat([pd.Series(movies["genero"].unique()), pd.Series(movies["genero_id"].unique())], axis=1)

In [ ]:
# text = "hounted house in the mid night ghost and souls"

In [ ]:
# vetorizador = TfidfVectorizer(lowercase=False, max_features=200, vocabulary=vocabulario)
# bow = vetorizador.fit_transform([text])
# bow_matrix = pd.DataFrame.sparse.from_spmatrix(bow, columns=vetorizador.get_feature_names_out())

In [ ]:
# model.predict(bow_matrix)

In [ ]:
# movies["genero_category"] = movies["genero"].factorize()[0]

In [ ]:
# classes = pd.DataFrame(movies["genero"].unique()).values
# classes

In [ ]:
# movies["genero"].merge(movies[])

In [ ]:
# classes_id = pd.DataFrame(movies[["genero"], ["genero_category"]].unique()).values
# classes_id

In [ ]:
# classes_grouped = movies.groupby('genero').count().sort_values(ascending=True, by="genero_category")

In [ ]:
# classes_grouped.plot.barh(y='genero_category')